<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>Sign up MakersBnB</title>
</head>
<body>
  <h1>Sign up</h1>

  <form action="/adduser" method="POST">
    Please enter your name: 
    <input type="text" name="name" />
    Please choose a username: 
    <input type="text" name="username" />
    Email: 
    <input type="email" name="email" />
    Password:
    <input type="password" name="password" />
    <input type="submit" vale="Sign up"/>
  </form>
</body>
</html>