<html>
  <head>
          <link rel="stylesheet" href="/styles.css" type="text/css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        
  </head>
  <body>
<h1> Booking confirmed </h1>
<div>
 <p>

 <%= @message %>
<a href="/mybookings/<%=  %>">click to view bookings</a>
 </p>
 <div>
 </body>
 </html>  