<html>

<body>

<% @unconfirmed_bookings.each do |booking| %>
<br>
  <%= booking.user_id %>
  <br>
    <%= booking.space_id %>
    <br>
      <%= booking.total_cost %>

      <br>
      <br>

<% end %>

</body>

</html>




